.about-heading {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: transparent;
}

.about-desc {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: white;
  text-align: start;
  margin: 50px 110px;
  text-align: center;

  background-color: transparent;
}

.about-card {
  background-color: rgb(63, 65, 212);
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}

i,
b,
u {
  text-decoration: none;
  background-color: transparent;
}

/* #232568 */
