.footer {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  /* display: flex;
  justify-content: space-around;
  flex-direction: row; */
  font-weight: 300;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  height: 150px;
  margin-bottom: 0px;
  overflow-y: hidden;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-social-icons-right {
  margin-left: 50px;
}

.footer-contact-info-left {
  margin-right: 100px;
  font-family: "Poppins", sans-serif;
}

.linkedIn {
  margin-right: 20px;
}

.github {
  margin-right: 20px;
}

@media screen and (max-width: 820px) {
  .footer-social-icons-right {
    margin-left: 10px;
  }

  .footer-contact-info-left {
    font-size: 12px;
  }
}

@media screen and (max-width: 548px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 150px;
    margin-bottom: 0px;
  }

  .footer-contact-info-left {
    /* display: none; */
    font-size: 10px;
    margin-top: 25px;
    margin-right: 0rem;
  }
}
