* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #232568;
}

.container {
  height: 100%;
  width: 100%;
  padding-top: 200px;
}

.main-page-title {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  margin-top: 300px;
  color: rgb(255, 255, 255);
}

.page-down-icon {
  width: 30px;
  height: 30px;
  opacity: 90%;
  animation: updown 2s ease infinite;
  color: white;
}

@keyframes updown {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}
