* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

li {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 10px;
  cursor: pointer;
}

.middle-nav {
  display: flex;
  flex-direction: row;
}

.middle-nav,
.contact {
  font-weight: 300;
}

.middle-nav:hover {
  text-decoration: underline white 4px;
}

.contact:hover {
  text-decoration: underline white 4px;
}
