* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 20px;
  cursor: pointer;
}

.middle,
.contact {
  font-weight: 300;
}

.middle {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.middle,
.contact li a {
  transition: all 0.3s ease 0s;
}

/* .middle:hover {
  text-decoration: underline white 4px;
}

.contact:hover {
  text-decoration: underline white 4px;
} */

.about {
  padding-right: 15px;
}

.portfolio {
  padding-right: 15px;
}

.about:hover {
  text-decoration: underline white 4px;
}

.contact:hover {
  text-decoration: underline white 4px;
}

.photo:hover {
  text-decoration: underline white 4px;
}

.portfolio:hover {
  text-decoration: underline white 4px;
}
