* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 50px;
  cursor: pointer;
  font-size: 14px;
  color: black;
}

.navbar:visited {
  text-decoration: none;
  color: black;
}

.middle {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.middle,
.contact li a {
  transition: all 0.3s ease 0s;
}

.about {
  padding-right: 25px;
}

.portfolio {
  padding-right: 25px;
}

.about:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(238, 58, 26);
  margin-top: 5px;
}

.contact:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(238, 58, 26);
  margin-top: 5px;
}

.photo:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(238, 58, 26);
  margin-top: 5px;
}

.portfolio:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(238, 58, 26);
  margin-top: 5px;
}
