* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photos-title {
  color: rgb(242, 242, 242);
  margin-top: 60px;
  font-size: 14px;
}

.image {
  width: 400px;
  height: 500px;
}

.photo-collage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
}
