* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photos-title {
  color: black;
  margin-top: 60px;
  font-size: 14px;
  background-color: transparent;
}

.image {
  width: 400px;
  height: 500px;
  margin-right: 10px;
  margin-left: 10px;
}
