* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.past-project-links {
  font-family: "Poppins", sans-serif;
  font-size: 110px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.past-project-links:hover {
  cursor: pointer;
  /* text-shadow: 5px 5px #7b1fa2; */
  /* background-color: rgb(247, 106, 106); */
  color: #fded59;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.recent-work {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1017px) {
  .past-project-links {
    font-size: 65px;
  }
}
