* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.past-project-links {
  font-family: "Poppins", sans-serif;
  font-size: 90px;
  color: rgb(242, 242, 242);
  margin-top: 30px;
}

.past-project-links:hover {
  
  cursor: pointer;
  text-shadow: 5px 5px rgb(46, 60, 220);

}

h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

.recent-work {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgb(242, 242, 242);
}





